
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 235 60% 95%;
    --foreground: 222 47% 11%;
    --card: 240 60% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 240 60% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 239 83% 65%;
    --primary-foreground: 210 40% 98%;
    --secondary: 240 5% 90%;
    --secondary-foreground: 222 47% 11%;
    --muted: 240 5% 90%;
    --muted-foreground: 215 28% 45%;
    --accent: 38 92% 50%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 5% 85%;
    --input: 240 5% 85%;
    --ring: 239 83% 65%;
    --chart-1: 239 83% 65%;
    --chart-2: 38 92% 50%;
    --chart-3: 173 58% 39%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 239 83% 65%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 33% 25%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 25%;
    --muted-foreground: 215 28% 65%;
    --accent: 38 92% 50%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 25%;
    --input: 217 33% 25%;
    --ring: 239 83% 65%;
    --chart-1: 239 83% 65%;
    --chart-2: 38 92% 50%;
    --chart-3: 173 58% 39%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
    .card {
        @apply shadow-lg;
    }
}
